# Binaries and compiled files
*.exe
*.out
*.o

# Logs, temp files, cache
*.log
*.tmp

# Images, documents
*.jpg
*.png
*.pdf
*.docs

# OS files
.DS_Store
Thumbs.db

# Directories
/tmp
/vendor/

# IDE / Editor configs
.idea/
.vscode/

# Environment files
.env*
!.env.example

# Certificates / Keys
*.pem
*.key
*.crt

# Optional: ignore docs and images if generated
/media

# atlas migration tool files
atlas.hcl