env "local" {
  src = "file://schema.hcl"

  // Define the URL of the database which is managed
  // in this environment.
  url = "postgres://change_this:change_this@localhost:5432/change_this?search_path=public&sslmode=disable"

  // Define the URL of the Dev Database for this environment
  // See: https://atlasgo.io/concepts/dev-database
  # dev = "docker://postgres/17/dev?search_path=public"
  dev = "postgres://change_this:change_this@localhost:5432/dev_change_this?search_path=public&sslmode=disable"

  migration {
    dir = "file://migrations"
  }
}

env "prod" {
  url = "$DATABASE_URL"
  migration {
    dir = "file://migrations"
  }
}
